<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <% if (user) { %>  
                <title><%= user._id %></title>
                <title><%= user.role %></title>
            <% } %>
        </head>
            <body>
                <% if (user.role==="adoptante") { %> 
                    <h2>¡Bienvenido a la plataforma!</h2>
                    <a href="/" >Ver mascotas</a>
                <% } %>
                <% if (user.role==="organizacion") { %> 
                    <h2>¡Bienvenido a la plataforma!</h2>
                    <div class="boton-adoptar"><a href="/agregarMascota" class="boton" target="_blank">AGREGAR MASCOTA</a></div>
                <% } %>
            </body>
    </html>